*{
    margin: 0%;
    padding: 0%;
}
nav {
    background: orchid;
    padding: 0 15px;
}
 nav ul {
    padding: 0;
    list-style-type: none;
    position: relative;
    margin: 0;
} 


nav ul li{
display: inline-block;
}
nav a {
    display: block;
    padding: 22px 43px;
    font-size: 23px;
    text-decoration: none;
    color: black;
    border-radius: 7px;
}
body{
    background-image: url(bangladesh\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
}
nav ul ul {
    position: absolute;
    top: 60px;
}
nav ul ul li {
    width: 226px;
    display: list-item;
    float: none;
    position: relative;
}
nav a:hover {
    color: midnightblue;
    background: cadetblue;
}
nav ul {
    padding: 0;
    list-style-type: none;
    position: relative;
    margin: 0;
}
nav ul ul {
    display: none;
}
nav ul li:hover> ul {
    display: block;
}
nav ul ul ul li {
    position: relative;
    top: -58px;
    left: 170px;
}